/*variables*/
/*general styling*/
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
a {
  color: black;
}
/*header*/
header {
  padding: 2%;
  height: 200px;
  background-color: #276066;
  background-image: url("images/headerBackground.png");
}
header h2 {
  font-size: 1.5em;
  margin: 0;
}
h1 {
  font-size: 4em;
  margin-top: 20px;
}
/*navigation*/
nav {
  padding: 0% 2%;
  height: 80px;
  background-color: #91aa9d;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  margin-left: -3%;
}
nav li {
  font-family: 'Droid Serif', serif;
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
}
nav form {
  display: flex;
  align-items: center;
}
nav form input {
  border: 0px solid black;
  height: 36px;
  width: 280px;
}
nav form .searchButton {
  height: 36px;
  width: 120px;
}
body {
  background-color: #173238;
  font-family: 'Open Sans', sans-serif;
}
/*side bar*/
aside {
  padding-right: 0%;
  background-color: #eeeeee;
  width: 30%;
}
aside h3 {
  background: #91aa9d;
}
aside section {
  margin: 30px 0px;
}
aside p,
aside a {
  padding-left: 4%;
}
/*main content*/
.flexboxContainer {
  display: flex;
}
.mainContainer {
  margin: 0 auto;
  max-width: 1200px;
}
main {
  background-color: #f5f5f5;
  width: 70%;
  padding: 0 2% 4% 2%;
}
main h2 {
  margin-top: 30px;
}
h3,
h2,
h1 {
  font-family: 'Droid Serif', serif;
}
h2 {
  margin: 2%;
}
h3 {
  padding: 3px 0;
  padding-left: 2%;
}
p,
a {
  margin: 2%;
}
ul {
  margin: 2%;
}
/*home*/
img {
  width: 30%;
  margin: 1%;
}
iframe {
  padding: 1%;
}
/*interaction*/
a:hover {
  color: #f0ad44;
}
.searchButton:hover {
  background-color: #f0ad44;
}
